.navbar-jjournal{
	background-color: #fff;
}
.side-jjournal{
	background-color: #34495e;
}
.side-jjournal > li.active > a.jjournal-white{
	background-color: #283746;
}
.side-jjournal > li.active > a.jjournal-white > i{
	color: #2ecc71;
}
.jjournal-white{
	color: #fff !important;
}
@media (min-width: 1200px){
	.navbar-jjournal a.navbar-brand{
		width: 225px;
		background-color: #2ecc71;
		color: #fff;
	}
	.navbar-jjournal a.navbar-brand:hover{
		width: 225px;
		background-color: #2ecc71;
		color: #fff;
	}

}