.headerGroupAdding{
	height:70px;
	background-color:red;
}
.formGroupAdding{
	padding-top:10px;
}
#toggler{
	cursor:pointer;
	-moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
#toggler:hover{
	text-decoration: none;
}
.togglerH5{
	cursor:pointer;
	-moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.togglerH5:hover{
	text-decoration: none;
}
input[type=checkbox]{
			cursor:pointer;
		}
		input[type=text], select{
			  width: 100%;
			  height: 34px;
			  padding: 3px 3px;
			  font-size: 14px;
			  color: #555;
			  background-color: #fff;
			  border: 1px solid #ccc;
			  border-radius: 4px;
			  margin-bottom:5px;
			  margin-right:2px;
		}
		input[type="text"]:disabled{
			background:#C0C0C0;
			cursor: not-allowed;
		}
		input[type=text] :focus{
			border-color: #66afe9;
  			outline: 0;
		}
		select :focus{
			border-color: #66afe9;
  			outline: 0;
		}
				-webkit-scrollbar-track
		{
			border: 1px solid #cccccc;
			background-color: #cccccc;
		}

		::-webkit-scrollbar
		{
			width: 10px;
			background-color: white;
		}

		::-webkit-scrollbar-thumb
		{
			background-color: #cccccc;	
		}
.jjournal-orders{
	cursor:pointer;
}
.dender input[type=checkbox]{
	float:right;
}

@media only screen and (max-width: 768px) and (min-width: 300px) {
    .dender input[type=checkbox]{
    	
    }
    select{
    	margin-bottom:100px;
    }
}
label{
	cursor: pointer;
}
.checkboxGroup {
	float:right;
	width:0px;
	height:0px;
	margin-top:-5px;
	}
  .checkboxGroup label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkboxGroup label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkboxGroup label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 2px;
      font-size: 11px;
      color: #555555; }
  .checkboxGroup input[type="checkbox"] {
    opacity: 0; }
    .checkboxGroup input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkboxGroup input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkboxGroup input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkboxGroup input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkboxGroup.checkboxGroup-circle label::before {
    border-radius: 50%; }
  .checkboxGroup.checkboxGroup-inline {
    margin-top: 0; }

.checkboxGroup-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkboxGroup-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkboxGroup-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkboxGroup-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkboxGroup-info input[type="checkbox"]:checked + label::before {
  background-color: #2ecc71;
  border-color: #2ecc71; }
.checkboxGroup-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkboxGroup-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkboxGroup-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkboxGroup-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkboxGroup-success input[type="checkbox"]:checked + label::after {
  color: #fff; }