ErrorDocument 404 http://jjournal/404
ErrorDocument 500 http://jjournal/500
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off